.user-information {
  sub {
    width: 100%;
    display: block;
    background-color: beige;
  }
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;

  >div {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  select {
    border: 1.5px black solid;
    margin: 0;
  }

  h5 {
    margin: 0;
  }

}

.ams-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;

  .component {
    border: solid 1px gray;
    border-radius: 3px;
    min-height: 80px;

    .item-cell {
      display: flex;
      flex-wrap: wrap;
      min-height: 100px;
      justify-content: space-between;
      flex-direction: column;
    }
  }

  p {
    padding: 0;
    margin: 0;
  }

  button {
    padding: 15px 0px;
    font-size: 1em;
  }

}
