.is-admin {
  cursor: pointer;
}

.is-admin:hover {
  background-color: #606cb8;
}

.calendar-cell {
  width: 140px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px gray;
  border-radius: 2px;

  .current-day {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    background-color: #1d7485;
    color: white;
    position: relative;
    top: -5px;
    left: -52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .taking-amount {
    margin-top: -20px;
  }

  sub {
    font-size: 0.8em;
  }

  .center-cell-item {
    font-weight: bold;
    padding: 5px 0;
  }

  .button-no-padding {
    padding: 0;
    font-size: 1em;
  }

}

.highlight-current-day {
  border: 3px solid green;
  border-radius: 10px;
  background-color: beige;
}

.stripe {
  color: white;
  background: repeating-linear-gradient(45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px);
}
