.virtual-keypad-container {
  input {
    width: 100%;
    font-size: 2em;
    border: 1px solid gray;
  }

  .virtual-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    button {
      padding: 30px 0px;
      font-size: 2em;
    }

    .cmd-button {
      background-color: #37635a;
    }

    .cmd-button:hover {
      background-color: gray;
    }

  }

}
