.virtual-keypad-container {
  input {
    width: 100%;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 2em;
    border: 1px solid gray;
  }

  .virtual-keypad {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    .chakra-button {
      width: 100%;
      height: 100%;
      padding: 30px 0px;
      font-size: 2em;
    }

    .cmd-button {
      background-color: #37635a;
    }

    .cmd-button:hover {
      background-color: gray;
    }

  }

}
