.admin-guard {
  min-height: 780px;

  h2 {
    margin: 0;
  }

  .main-container {
    margin: 15px;
    display: flex;
    gap: 10px;
    justify-content: start;

    .active-menu-container {
      flex: 1;
    }

    >div {
      width: 570px;
    }

    .user-container {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      button {
        padding: 25px 0;
        font-size: 1.2em;
      }
    }
  }

  .list-admin-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    button {
      font-size: 1.3em;
      padding: 25px 0;
    }
  }
}
