.admin-header {
  .copyright-container{
    padding: 5px 20px;
    border-radius: 5px;
    
  }
  .logo-and-breadcrumbs {
    min-width: 250px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    justify-items: center;
  }

  .logo-and-info {
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  footer {
    position: absolute;
    float: left;
    bottom: 0;
  }
}
