.main-admin-page {
  display: flex;
  gap: 20px;

  >div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

    button {
      font-size: 1.2em;
    }

    &:first-of-type {
      width: 300px;
    }
  }
}
