.make-payment-page {

  .tabs-container {
    margin: 0 20px;
    width: 100%;
  }

  .left-container {
    min-width: 400px;
  }

  .detailed-info-container {
    justify-content: space-between;
    display: flex;

    .container-item {
      margin: 0 35px;
      flex: 1;
    }

    input,
    select {
      border-radius: 5px;
      padding: 5px 10px;
      border: gray solid 1px;
      font-size: 1.5em;
      width: 100%;
    }

    .scroller-container {
      min-width: 40vw;
    }


    .detailed-card {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      border-radius: 15px;
      padding: 5px 15px;
      border: 1px gray solid;

      .card-header {
        justify-content: space-between;
        align-items: center;
      }

      .record {
        padding: 10px;
        text-align: center;
      }

      p {
        margin: 0;
      }

      b {
        all: unset;
      }
    }

    .paid {
      border-left: 5px solid green;
    }

    .pay-button {
      margin-top: 50px;
      font-size: 2em;
      width: 100%;
    }
  }

  .react-datepicker {
    font-size: 1.2rem;
    transform: scale(3);
  }

  .react-datepicker__day,
  .react-datepicker__day-name,
  .react-datepicker__current-month,
  .react-datepicker__time-name {
    font-size: 1.2rem;
  }

  .react-datepicker__month-container {
    width: 300px;

    .react-datepicker__year-option {
      font-size: 20px
    }

    .react-datepicker__day-name,
    .react-datepicker__week {
      font-size: 20px !important;
    }
  }
}
