.customer-taking-page {
  padding: 0 15px;

  header {
    h1 {
      margin-bottom: -10px;
    }
  }

  .keyboard-and-calendar {
    display: flex;
    gap: 20px;

    h2 {
      margin-top: 0;
    }

    .user-container {
      padding: 15px;
      display: grid;
      width: 28vw;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      .chakra-button {
        width: 100%;
        height: 100%;
        font-size: 1.2em;
      }
    }
  }
}

.login-container {
  display: flex;
  justify-content: center;

  button {
    margin: 0 10px
  }
}
